
body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.category-item {
  height: 7rem;
  border-radius: 4px;
  box-shadow: 0 4px 6px 2px rgb(0 0 0 / 5%);
  transform: translate(0,-2px);
  background-color: #f1f2f3;
}

.category-item p {
  font-size: 1.15rem;
  color: black;
}

.filter {
  width: 20%;
  padding: 3.5rem 1rem 1rem 1rem;
}
.product-list{
  width: 80%;
  padding: 3.5rem 1rem 1rem 1rem;
  background-color: #f1f2f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.product-list .card {
  height: 300px;
  width: 14rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-list .card .image {
  height: 70%;
}

.card-title {
  margin-bottom: 0px !important;
}

.mg-right {
  margin-right: 1rem !important;
}

.mg-right  {
  margin: 0;
}